:root {
  --accent: #FF671F;
  --primary: #003c71;
  --secondary: #00aeef;
  --subtle-accent: #8A8D8F;
  --black: #1A1A1B;
  --white: rgb(238, 238, 238);
}

// Nav bar link style
.link {
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
  margin: 0 20px;
  position: relative;
  transition: color 0.3s;

  &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      bottom: 0;
      background-color: var(--accent);
      transition: width 0.3s ease-out;
  }

  &:hover {
      color: var(--accent);

      &::before {
          width: 100%;
      }
  }
}