:root {
  --accent: #ff671f;
  --primary: #003c71;
  --secondary: #066abb;
  --subtle-accent: #8A8D8F;
  --black: #1A1A1B;
  --white: rgb(238, 238, 238);
}

body * {
  font-family: 'Roboto';
}

// Nav bar link style
.link {
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
  padding: 5px 10px;
  transition: color 0.3s;

  &:hover{
      color: var(--accent) !important;
}
}