:root {
    --accent: #ff671f;
    --primary: #003c71; 
    --secondary: #066abb; 
    --black: #1A1A1B; // Second background
    --white: #eeeeee; // Text

    --radius: 10px;
    --media-condition: 800px;
    --text-margin: 15%;
    --text-margin-mobile: 5%;
}

@font-face {
    font-family: airStrike;
    src: url(./font/airstrikeout.ttf);
}
  
body * {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: var(--accent);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: transform 0.5s;
    margin: 0 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    height: fit-content;

    &:hover {
        transform: scale(1.1);
    }
}

input[type=text], input[type=email], select, textarea {
    color: var(--black);
    border: none;
    border-radius: var(--radius);
    margin: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    height: fit-content;
}

h2 {
    font-size: 35px;
    margin: 0 0 10px 20px;
    position: relative;
    width: fit-content;

    &::before {
        content: "";
        position: absolute;
        background-color: var(--accent);
        left: -20px;
        width: 4px;
        height: 100%;
    }

    span {
        color: var(--accent);
    }
}
  
// Nav bar link style
.link {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
    padding: 5px 10px;
    transition: color 0.3s;
  
    &:hover{
        color: var(--accent) !important;
    }
}

.container {    box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.2);

    background-color: var(--secondary);
    border-radius: var(--radius);
    padding: 10px;
    margin: 10px;
}