:root {
    --accent: #ff671f;
    --accent-alt: #ff671fa0;
    --primary: #003c71;
    --secondary: #066abb;
    --subtle-accent: #8A8D8F;
    --black: #1A1A1B;
    --white: rgb(238, 238, 238);

    --radius: 10px;
    --text-margin: 15%;
    --text-margin-mobile: 5%;

    --media-condition: 800px;

}
  
body * {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: var(--accent);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: transform 0.5s;
    margin: 0 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    height: fit-content;

    &:hover {
        transform: scale(1.1);
    }
}
  
// Nav bar link style
.link {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
    padding: 5px 10px;
    transition: color 0.3s;
  
    &:hover{
        color: var(--accent) !important;
    }
}